.button{
    border-radius: 4px;
    background-color: var(--light--green--600);
    height: 36px;
    color: var(--white);
    padding: 0px 24px 0px 24px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.button:active{
    background-color: var(--light--green--700);
}
