
.pop-up-container{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 30;
    top:0;
    left:0;
}
.pop-up-container .container{
    display: block;
}


.pop-up{
    border-radius: var(--border--radius);
    background-color: var(--white);
    height: 200px;
    width: 480px;
    position: absolute;
    z-index: 20;
    box-shadow: 3px 0px 8px rgba(31,34,41,0.16);
    top: calc(50% - 120px);
    left: calc(50% - 240px);
}

.pop-up-text{
    width: 320px;
}

.pop-up-content{
    display: flex;
    align-items: center;
    margin: 36px;
    margin-bottom: 0px;
    padding-bottom: 36px;
    border-bottom: 1px solid #E6E6E6;

}
.icon-popUp{
	width: 36px;
	height: 36px;
}
.icon{
    margin-right: 24px;
}
.warning .icon-info{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -752px -462px;
	width: 36px;
	height: 36px;
}
.warning .icon-warning{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -598px -463px;
	width: 36px;
	height: 36px;
}
.pop-up-action{
    height: 60px;
    display: flex;
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 24px;

}
.pop-up-action{
    justify-content: space-between;
}
.warning .pop-up-action{
    justify-content: end;
}
.button-pop-up-no{
    background-color: var(--white);
    color: #000;
    font-family: misa bold;
    border: 1px solid #a4a2a2;
}


.button-no{
    margin-right: 8px;
}

/* ----------------type popup */

.icon-warning .icon-popUp{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -598px -463px;
}
.icon-warning .three-button{
    display: none;
}


.icon-question .icon-popUp{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -832px -462px;

}

.icon-question .two-button{
    display: none;
}