table{
    border-collapse: collapse;
    width: 1600px;
}

thead td{
    font-family: misa bold;
    font-size: 11px;
    text-align: left;
    box-shadow: -1px -1px var(--color--border--table);
}
thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 12;

}


thead tr{
    background-color: var(--light--green--100);
}
td input{
    height: 16px;
    width: 16px;
    margin-right: 14px;
}
tr{
    border-bottom: 1px dotted var(--color--border--table);
    height: 44px;
    position: relative;
}


td{
    border-right: 1px dotted var(--color--border--table);
    padding-left: 16px;
    padding-right: 8px;
}

.choose-tr{
    background-color: var(--light--green--50);
}


.sticky-col {
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    background-color: var(--white);
    z-index: 1;
    box-shadow: inset 1px 1px 0 var(--color--shadow--border);
}


.header-sticky-col {
    background-color: var(--light--green--100);
    box-shadow: inset 1px 0 var(--color--border--table);
}


.tool{
    display: flex;
    position: relative;
}
.text{
    margin-right: 10px;
    color: var(--blue);
}
.icon-drop{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -893px -360px;
    height: 16px;
    width: 24px;
    border: none;
    margin-top: 2px;
    margin-left: 5px;
    cursor: pointer;

}

.icon-drop-click{
    border: 1px solid var(--blue);
}






  