.container-statistic{
    background-color:  var(--light--green--50);
    height: calc(100% - 50px);
    padding-top: 16px;
    padding-right: 24px;
    padding-left: 24px;
}

.content-statistic-detail{
   background-color: #fff;
   margin-top: 16px;
   height: 600px;
}

.import{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -483px -203px;
	width: 24px;
	height: 24px;
    margin-top: 18px;
    margin-left: 12px;
    margin-right: 20px;
    cursor: pointer;
}
.import:hover{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -483px -259px;
  
}
.fileImport{
    width: 0px;
}

.content-statistic-detail button{
    height: 25px;
    padding: 0px 8px;
    margin-top: 17px;
    margin-left: 8px;
}


.salary-import{
    background-color: white;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 24px;
    z-index: 13;
    padding: 8px;
    border: solid 1px #8ab7cd;
    border-radius: 8px;
}
.filter{
    position: relative;
}

.item-hover:hover{
    background-color: var(--light--green--50);
}
.item-hover{
    padding: 4px;
}