.change-pass{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 12;
    top: 0;
    left: 0;
}

.form-change{
    position: absolute;
    /* display: none; */
    z-index: 20;
    background-color: var(--white);
    min-width: 480px;
    max-width: 1000px;
    border-radius: var(--border--radius);
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: 1px 0px 4px rgba(23,27,42,0.24);
    top: calc(50% - 170px);
    left: calc(50% - 260px);
}

.change-header{
    display: flex;
    position: relative;
}

.change-header .icon-x{
    position: absolute;
    top: 10px;
    right: 0;
}

.valid{
    max-width: 240px;
}