
.content{
    padding-top: 16px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #EEF8EC;
    min-height: 719px;
    height: calc(100% - 56px);
}


.title{
    font-family: misa bold;
    font-size: 24px;
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
}

.container-grid{
    background-color: #fff;
    height: 630px;
}


.filter{
    display: flex;
    justify-content: flex-end;
}

.search{
    margin-top: 12px;
}

.refresh{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -424px -200px; 
    /* background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -418px -196px;  */
    height: 24px;
    width: 24px;
    margin-top: 15px;
    margin-left: 12px;
    margin-right: 20px;
}

.container-table{
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 16px;
    height: 500px;
    overflow-y: auto;
}