.log-out{
    position: absolute;
    min-width: 50px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid var( --color--border);
    border-radius: 4px;
    right: 12px;
    cursor: pointer;
}
.content-log-out{
    display: flex;
}
.content-log-out i{
    margin-right: 12px;
}