.top-nav{
    background-color: var(--white);
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top-nav__left{
    display: flex;
    margin-left: 16px;
    margin-top: 8px;
    align-items: center;
}

.top-nav__right{
    display: flex;
    margin-right: 16px;
    margin-top: 8px;
    align-items: center;
}

.arrow-down-icon{
    height: 24px;
    width: 24px;
    margin-left: 4px;
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -1125px -357px;
    cursor: pointer;
}

.option-company, .avatar, .name{
    margin-left: 16px;
    cursor: pointer;
}
.option-icon{
    height: 24px;
    width: 24px;
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -844px -31px;
    cursor: pointer;
}

.avatar{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -353px -895px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

.arrow-down-icon-emp{
    height: 24px;
    width: 24px;
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -460px -405px;
    cursor: pointer;
}
