.button:hover{
    background-color: var(--light--green--400);
}

/* combobox */ /* drop list */
.combobox-item:hover, .data:hover, .data-item:hover{
    background-color: var(--light--green--50);
}


/* input */
.input:hover{
    border-color: var(--light--green--100);
}

/* input datepicker */
.datepicker input:hover{
    border-color: var(--light--green--100);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #99A1B2;
}

/* sidebar */
.side-bar-item:hover{
    background-color: #003166;
    color: var(--white);
}


/* dấu x đóng */
.close-icon:hover{
    cursor: pointer;
}

/* tabe */

tbody tr:hover .sticky-col{
    background-color: var(--light--green--50);
}
tbody tr:hover{
    background-color: var(--light--green--50);
}


/* tooltip */
th:hover .tooltip{
    visibility: visible;
}

.info-more:hover .tooltip{
    visibility: visible;
}


.refresh:hover{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -1098px -90px;
}

.export:hover{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -705px -258px;
}

.hoverEmptyDepartment:hover .emptyCombobox{
    display: block;
}


/* button oval */
.delete-button:hover{
    background-color: var(--light--green--50);
}

.button-oval:hover{
    background-color: var(--light--green--50);

}
.delete-button:hover .button-oval{
    background-color: #fff;
}


