.container-position{
    background-color:  var(--light--green--50);
    height: calc(100% - 56px);
    padding-top: 16px;
    padding-right: 24px;
    padding-left: 24px;
}

.content-position-detail{
    background-color: #fff;
    padding: 24px;
}