@import url(../css/controller/focus.css);
@import url(../css/controller/hover.css);

:root{
    --color--light--green: #50B83C;
    --light--green--900: #10250C; 
    --light--green--800: #204918; 
    --light--green--700: #306F24; 
    --light--green--600: #409330; 
    --light--green--400: #73C663; 
    --light--green--300: #96D58A; 
    --light--green--200: #B9E2B1; 
    --light--green--100: #DCF1D8; 
    --light--green--50: #EEF8EC; 
    --white: #fff;
    --black: #000;
    --color--placeholder: #99A1B2;
    --color--border--table: #E0E0E0;
    --color--border: #E6E6E6;
    --red: #ef1717;
}
body{
    font-family: misa;
    font-size: 14px;
    margin: 0;
    display: flex;
    height: 100vh;
}

body *{
    box-sizing: border-box;
}

@font-face {
    font-family: misa;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
    font-family: misa bold;
    src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}

@font-face {
    font-family: misa medium;
    src: url(../assets/fonts/notosans-semibold.df3e6dc4.woff2);
}

.icon{
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    z-index: 14;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 4px;
    cursor: pointer;
}

.border-red{
    border: 1px solid #f24343 !important;
}
  
